<!-- Custom CSS -->
<link rel="stylesheet" href="/assets/css/sketch.css" type="text/css" />

<div class="container">

	<div class="page-header text-center">
    <h1 id="group-name" data-groupname="{{this.groupname}}">Sketch Group: {{this.groupname}}</h1>
    <h2 id="completed" data-completed="{{this.completed}}">Completed: {{this.completed}}</h2>
    <h2 id="part" data-part="{{this.part}}">Part: {{this.part}}/4</h2>
    <h2 id="user-name" data-username="{{this.username}}">Logged in as: {{this.username}}</h2>
    <div class="well">
      <h3>Group members</h3>
      <div id="group-members">
	      {{#each this.groupmembers}}
	        <p>{{this}}</p>	
	      {{/each}}
	    </div>
    </div>
    <a href="/logout" class="btn btn-default btn-sm">Logout</a>
  </div>

</div>

<!-- Socket IO -->
<script src="/socket.io/socket.io.js"></script>
<!-- Sketch JS -->
<script src="../assets/js/sketch.js"></script>